/*
========================================
SECTION: GLOBAL.CSS
========================================
*/

/*
========================================
ROOT
========================================
*/

:root{
    --bg-dark: #1B1411;
    --card-bg: #241A16;
    --primary: #6F4E37;
    --primary-hover: #8B6547;
    --accent: #C8A27A;
    --text-light: #FFFFFF;
    --text-soft: #B8ADA4;
}

/*
========================================
RESET
========================================
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
========================================
GLOBAL ELEMENTS
========================================
*/

img{

    width: 100%;

    display: block;
}

a{

    text-decoration: none;

    color: inherit;
}

ul{

    list-style: none;
    
}

/*
========================================
HTML
========================================
*/

html{

    scroll-behavior: smooth;

}

/*
========================================
BODY
========================================
*/

body{

    background-color: var(--bg-dark);

    color: white;

    font-family: 'Inter', sans-serif;

}